<nav class="trackbar-navbar" id="trackbar-navbar">
    <a href="/index">
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.33331 21.266C8.33331 19.0031 8.33331 17.8716 8.79075 16.8771C9.24818 15.8825 10.1073 15.1461 11.8254 13.6735L13.4921 12.2449C16.5976 9.583 18.1504 8.25206 20 8.25206C21.8496 8.25206 23.4024 9.583 26.5079 12.2449L28.1746 13.6735C29.8927 15.1461 30.7518 15.8825 31.2092 16.8771C31.6666 17.8716 31.6666 19.0031 31.6666 21.266V28.3333C31.6666 31.476 31.6666 33.0474 30.6903 34.0237C29.714 35 28.1427 35 25 35H15C11.8573 35 10.2859 35 9.30962 34.0237C8.33331 33.0474 8.33331 31.476 8.33331 28.3333V21.266Z" stroke="#F0F0F0" stroke-width="2"/><path d="M24.1666 35V26C24.1666 25.4477 23.7189 25 23.1666 25H16.8333C16.281 25 15.8333 25.4477 15.8333 26V35" stroke="#F0F0F0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
        <span>Home</span>
    </a>
    
    <a href="/contact-us">
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="6.66669" y="10" width="26.6667" height="20" rx="2" stroke="#F0F0F0" stroke-width="2"/><path d="M6.66669 15L19.1056 21.2195C19.6686 21.501 20.3314 21.501 20.8944 21.2195L33.3334 15" stroke="#F0F0F0" stroke-width="2"/></svg>
        <span>Contact Us</span>
    </a>
</nav>